
* {
	/*margin: 0;*/
	box-sizing: border-box;
}


p {
	border: 1px solid;
	width:50px;
	height: 50px;
	/*clear: both;*/

}

#p1 {
	background-color: red;
	position: relative;
	top: 50px;
	left:100px;
}
#p2 {
	background-color: yellow;
	float:left;

}
#p3 {
	background-color: green;
	clear: both;
}

#p4 {
	background-color: blue;
}